<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.test.mapper.RoomTypeMapper">

    <resultMap id="BaseMap" type="com.oracle.test.entity.RoomType">
        <id     property="typeId"     column="TYPE_ID"/>
        <result property="typeName"   column="TYPE_NAME"/>
        <result property="basePrice"  column="BASE_PRICE"/>
        <result property="bedCount"   column="BED_COUNT"/>
        <result property="isDeleted"  column="IS_DELETED"/>
        <result property="version"    column="VERSION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateBy"   column="UPDATE_BY"/>
    </resultMap>

    <select id="listAll" resultMap="BaseMap">
        SELECT * FROM ROOM_TYPE WHERE IS_DELETED = 0 ORDER BY TYPE_ID
    </select>

    <select id="findById" resultMap="BaseMap">
        SELECT * FROM ROOM_TYPE WHERE TYPE_ID = #{typeId} AND IS_DELETED = 0
    </select>

    <insert id="insert" parameterType="com.oracle.test.entity.RoomType">
        <selectKey keyProperty="typeId" resultType="long" order="BEFORE">
            SELECT SEQ_ROOM_TYPE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO ROOM_TYPE(TYPE_ID, TYPE_NAME, BASE_PRICE, BED_COUNT, CREATE_TIME, UPDATE_TIME, UPDATE_BY)
        VALUES(#{typeId}, #{typeName}, #{basePrice}, #{bedCount}, F_NOW(), F_NOW(), #{updateBy})
    </insert>

    <update id="update" parameterType="com.oracle.test.entity.RoomType">
        UPDATE ROOM_TYPE SET
            TYPE_NAME  = #{typeName},
            BASE_PRICE = #{basePrice},
            BED_COUNT  = #{bedCount},
            UPDATE_TIME = F_NOW(),
            UPDATE_BY = #{updateBy}
        WHERE TYPE_ID = #{typeId}
    </update>

    <update id="updateWithVersion" parameterType="com.oracle.test.entity.RoomType">
        UPDATE ROOM_TYPE SET
            TYPE_NAME  = #{typeName},
            BASE_PRICE = #{basePrice},
            BED_COUNT  = #{bedCount},
            VERSION = VERSION + 1,
            UPDATE_TIME = F_NOW(),
            UPDATE_BY = #{updateBy}
        WHERE TYPE_ID = #{typeId} AND VERSION = #{version}
    </update>

    <update id="logicDelete">
        UPDATE ROOM_TYPE SET IS_DELETED = 1, UPDATE_TIME = F_NOW(), UPDATE_BY = #{updateBy}
        WHERE TYPE_ID = #{typeId}
    </update>
</mapper>
